<html>
    <head>
        <title>Runescape Directory</title>
        <link rel='stylesheet' text='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css'>
        <link rel='stylesheet' text='text/css' href='/stylesheets/app.css'>
    </head>
    <body>
        <div class='ui top fixed inverted menu'>
            <div class='header item'>Runescape Directory</div>
            <a href='/' class='item'>Home</a>
            <a href='/items/new' class='item'>New Item</a>
            <div class='ui white category search item float right'>
                <div class='ui transparent white icon input'>
                    <input class='prompt' text='text' placeholder='Search the directory'>
                    <i class='search link icon'></i>
                </div>
            </div>
        </div>
        <div id='push-down'>
